In [73]:
import pandas as pd
import numpy as np
from scipy.sparse.linalg import svds
from sklearn.metrics import mean_squared_error as mse 
from copy import deepcopy 
from matplotlib import pyplot as plt
import warnings

warnings.filterwarnings('ignore')

# Trainng Samples loaded from Github Repo
ratings_path = 'https://raw.githubusercontent.com/usef-kh/EC503Project/master/Datasets/ml-1m/ratings.dat'
titles_path = 'https://raw.githubusercontent.com/usef-kh/EC503Project/master/Datasets/ml-1m/movies.dat'

ratings = pd.read_csv(ratings_path, sep  = "::", names = ['UserID', 'MovieID', 'Rating', 'Timestamp'])
titles = pd.read_csv(titles_path, sep = "::", names = ['MovieID', 'Title', 'Genres'], encoding ='latin-1')
data = pd.merge(ratings, titles, on='MovieID')
data.head()

   UserID  MovieID  ...                                   Title  Genres
0       1     1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
1       2     1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
2      12     1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
3      15     1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
4      17     1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama

[5 rows x 6 columns]

In [74]:
import keras
from IPython.display import SVG
from keras.optimizers import Adam
from keras.utils.vis_utils import model_to_dot
from keras.layers import dot

n_users, n_movies = len(data.UserID.unique()), len(data.MovieID.unique())
n_latent_factors = 3

movie_input = keras.layers.Input(shape=[1],name='Item')
movie_embedding = keras.layers.Embedding(n_movies + 1, n_latent_factors, name='Movie-Embedding')(movie_input)
movie_vec = keras.layers.Flatten(name='FlattenMovies')(movie_embedding)

user_input = keras.layers.Input(shape=[1],name='User')
user_vec = keras.layers.Flatten(name='FlattenUsers')(keras.layers.Embedding(n_users + 1, n_latent_factors,name='User-Embedding')(user_input))
prod = keras.layers.dot([movie_vec, user_vec],axes=1,normalize=False)
model = keras.Model([user_input, movie_input], prod)
model.compile('adam', 'mean_absolute_error')
model.summary()

Model: "model_5"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
Item (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
User (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
Movie-Embedding (Embedding)     (None, 1, 3)         11121       Item[0][0]
__________________________________________________________________________________________________
User-Embedding (Embedding)      (None, 1, 3)         18123       User[0][0]
__________________________________________________________________________________________________
FlattenMovies (Flatten)         (None, 3)            0           Movie-Embedding[0][0]
__________________________________________________________________________________________________
FlattenUsers (Flatten)          (None, 3)            0           User-Embedding[0][0]
__________________________________________________________________________________________________
dot_8 (Dot)                     (None, 1)            0           FlattenMovies[0][0]
                                                                 FlattenUsers[0][0]
==================================================================================================
Total params: 29,244
Trainable params: 29,244
Non-trainable params: 0
__________________________________________________________________________________________________

In [0]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.2)
history = model.fit([train.UserID, train.MovieID], train.Rating, epochs=3, verbose=1)

In [54]:
y_hat = np.round(2*model.predict([test.UserID, test.MovieID]),0)/2
y_true = test.Rating
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_true, y_hat)

0.8256891052878895

In [71]:
titles[titles['Title'] == 'Braveheart (1995)']

     MovieID              Title            Genres
108      110  Braveheart (1995)  Action|Drama|War

In [72]:
model.predict([np.array([1]), np.array([110])])

array([[4.663638]], dtype=float32)